In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.  
query = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(Measurement.date.like('%-06-%'))
df = pd.read_sql(query.statement, query.session.bind, index_col='date')
df = df.rename(columns={"prcp": "precipitations", "tobs": "temperatures"})
df

            precipitations  temperatures
date
2010-06-01            0.00          78.0
2010-06-02            0.01          76.0
2010-06-03            0.00          78.0
2010-06-04            0.00          76.0
2010-06-05            0.00          77.0
...                    ...           ...
2017-06-26            0.02          79.0
2017-06-27            0.10          74.0
2017-06-28            0.02          74.0
2017-06-29            0.04          76.0
2017-06-30            0.20          75.0

[1700 rows x 2 columns]

In [5]:
#  3. Convert the June temperatures to a list.
temperatures = df.temperatures.tolist()

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temp_df= pd.DataFrame(temperatures)
temp_df

         0
0     78.0
1     76.0
2     78.0
3     76.0
4     77.0
...    ...
1695  79.0
1696  74.0
1697  74.0
1698  76.0
1699  75.0

[1700 rows x 1 columns]

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temp_df.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [33]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_query = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date.like('%-12-%'))
dec_df = pd.read_sql(dec_query.statement, dec_query.session.bind, index_col='date')
dec_df = dec_df.rename(columns={"tobs": "temperatures"})
dec_df

            temperatures
date
2010-12-01          76.0
2010-12-03          74.0
2010-12-04          74.0
2010-12-06          64.0
2010-12-07          64.0
...                  ...
2016-12-27          71.0
2016-12-28          71.0
2016-12-29          69.0
2016-12-30          65.0
2016-12-31          65.0

[1517 rows x 1 columns]

In [25]:
# 7. Convert the December temperatures to a list.
dec_temp = dec_df.temperatures.tolist()
dec_temp

[76.0,
 74.0,
 74.0,
 64.0,
 64.0,
 67.0,
 77.0,
 66.0,
 69.0,
 68.0,
 68.0,
 71.0,
 74.0,
 67.0,
 66.0,
 69.0,
 71.0,
 70.0,
 70.0,
 74.0,
 74.0,
 71.0,
 75.0,
 75.0,
 72.0,
 69.0,
 68.0,
 73.0,
 74.0,
 73.0,
 73.0,
 73.0,
 73.0,
 71.0,
 73.0,
 73.0,
 77.0,
 72.0,
 71.0,
 73.0,
 70.0,
 73.0,
 69.0,
 74.0,
 72.0,
 71.0,
 72.0,
 72.0,
 70.0,
 73.0,
 73.0,
 72.0,
 73.0,
 73.0,
 72.0,
 63.0,
 65.0,
 71.0,
 76.0,
 70.0,
 76.0,
 69.0,
 69.0,
 69.0,
 74.0,
 76.0,
 74.0,
 73.0,
 73.0,
 74.0,
 73.0,
 73.0,
 73.0,
 74.0,
 74.0,
 71.0,
 73.0,
 72.0,
 64.0,
 66.0,
 73.0,
 72.0,
 65.0,
 64.0,
 69.0,
 68.0,
 77.0,
 71.0,
 71.0,
 69.0,
 68.0,
 68.0,
 69.0,
 70.0,
 72.0,
 76.0,
 75.0,
 69.0,
 71.0,
 71.0,
 71.0,
 68.0,
 65.0,
 70.0,
 69.0,
 69.0,
 71.0,
 67.0,
 73.0,
 74.0,
 73.0,
 67.0,
 74.0,
 75.0,
 75.0,
 74.0,
 67.0,
 73.0,
 73.0,
 71.0,
 72.0,
 71.0,
 68.0,
 65.0,
 69.0,
 70.0,
 70.0,
 74.0,
 71.0,
 74.0,
 73.0,
 72.0,
 74.0,
 72.0,
 74.0,
 75.0,
 74.0,
 70.0,
 74.0,
 70.0,
 66.0,
 61.0,
 63.0,
 63.0,
 63.0,
 63.0,
 67.0,
 56.0,
 75.0,
 77.0,
 75.0,
 75.0,
 75.0,
 75.0,
 71.0,
 70.0,
 74.0,
 74.0,
 75.0,
 72.0,
 70.0,
 66.0,
 74.0,
 75.0,
 74.0,
 75.0,
 76.0,
 74.0,
 75.0,
 74.0,
 73.0,
 68.0,
 73.0,
 74.0,
 74.0,
 77.0,
 70.0,
 70.0,
 69.0,
 75.0,
 72.0,
 69.0,
 71.0,
 68.0,
 67.0,
 69.0,
 73.0,
 70.0,
 70.0,
 70.0,
 66.0,
 67.0,
 70.0,
 66.0,
 62.0,
 71.0,
 73.0,
 69.0,
 77.0,
 74.0,
 71.0,
 72.0,
 74.0,
 74.0,
 74.0,
 74.0,
 71.0,
 73.0,
 69.0,
 66.0,
 73.0,
 72.0,
 73.0,
 74.0,
 73.0,
 66.0,
 64.0,
 66.0,
 75.0,
 65.0,
 69.0,
 71.0,
 69.0,
 78.0,
 74.0,
 68.0,
 68.0,
 70.0,
 70.0,
 71.0,
 71.0,
 71.0,
 71.0,
 69.0,
 69.0,
 72.0,
 76.0,
 72.0,
 73.0,
 73.0,
 74.0,
 69.0,
 68.0,
 74.0,
 73.0,
 73.0,
 72.0,
 71.0,
 71.0,
 68.0,
 72.0,
 71.0,
 72.0,
 71.0,
 71.0,
 72.0,
 71.0,
 71.0,
 72.0,
 72.0,
 72.0,
 69.0,
 71.0,
 71.0,
 69.0,
 74.0,
 72.0,
 71.0,
 71.0,
 72.0,
 71.0,
 67.0,
 65.0,
 70.0,
 76.0,
 68.0,
 71.0,
 71.0,
 68.0,
 70.0,
 73.0,
 73.0,
 72.0,
 71.0,
 70.0,
 72.0,
 71.0,
 72.0,
 72.0,
 71.0,
 70.0,
 71.0,
 71.0,
 71.0,
 66.0,
 65.0,
 73.0,
 72.0,
 72.0,
 65.0,
 65.0,
 68.0,
 67.0,
 76.0,
 70.0,
 71.0,
 69.0,
 67.0,
 69.0,
 71.0,
 69.0,
 72.0,
 76.0,
 75.0,
 72.0,
 75.0,
 71.0,
 69.0,
 68.0,
 68.0,
 72.0,
 70.0,
 72.0,
 75.0,
 69.0,
 72.0,
 73.0,
 73.0,
 72.0,
 73.0,
 74.0,
 73.0,
 72.0,
 68.0,
 72.0,
 71.0,
 69.0,
 67.0,
 70.0,
 72.0,
 67.0,
 67.0,
 69.0,
 67.0,
 74.0,
 70.0,
 73.0,
 71.0,
 71.0,
 71.0,
 71.0,
 72.0,
 76.0,
 78.0,
 76.0,
 73.0,
 70.0,
 68.0,
 77.0,
 66.0,
 65.0,
 69.0,
 69.0,
 66.0,
 64.0,
 74.0,
 75.0,
 80.0,
 72.0,
 73.0,
 70.0,
 69.0,
 77.0,
 74.0,
 77.0,
 72.0,
 69.0,
 69.0,
 75.0,
 75.0,
 72.0,
 73.0,
 78.0,
 75.0,
 75.0,
 74.0,
 73.0,
 70.0,
 70.0,
 72.0,
 74.0,
 74.0,
 67.0,
 74.0,
 70.0,
 73.0,
 71.0,
 71.0,
 69.0,
 68.0,
 70.0,
 71.0,
 72.0,
 70.0,
 71.0,
 72.0,
 68.0,
 68.0,
 70.0,
 70.0,
 63.0,
 71.0,
 67.0,
 69.0,
 74.0,
 72.0,
 70.0,
 69.0,
 73.0,
 74.0,
 74.0,
 73.0,
 71.0,
 72.0,
 69.0,
 71.0,
 73.0,
 73.0,
 71.0,
 72.0,
 71.0,
 64.0,
 71.0,
 62.0,
 70.0,
 64.0,
 64.0,
 70.0,
 70.0,
 69.0,
 72.0,
 68.0,
 68.0,
 65.0,
 67.0,
 68.0,
 70.0,
 67.0,
 73.0,
 70.0,
 68.0,
 72.0,
 69.0,
 71.0,
 70.0,
 75.0,
 70.0,
 68.0,
 73.0,
 71.0,
 71.0,
 70.0,
 70.0,
 70.0,
 70.0,
 72.0,
 74.0,
 71.0,
 70.0,
 70.0,
 69.0,
 71.0,
 70.0,
 70.0,
 72.0,
 72.0,
 72.0,
 72.0,
 72.0,
 70.0,
 66.0,
 71.0,
 68.0,
 79.0,
 76.0,
 73.0,
 75.0,
 71.0,
 76.0,
 74.0,
 73.0,
 73.0,
 74.0,
 73.0,
 72.0,
 76.0,
 75.0,
 77.0,
 74.0,
 76.0,
 75.0,
 76.0,
 73.0,
 75.0,
 73.0,
 73.0,
 74.0,
 78.0,
 78.0,
 78.0,
 75.0,
 75.0,
 75.0,
 74.0,
 77.0,
 72.0,
 72.0,
 73.0,
 71.0,
 75.0,
 76.0,
 74.0,
 75.0,
 74.0,
 75.0,
 73.0,
 72.0,
 72.0,
 75.0,
 74.0,
 74.0,
 72.0,
 73.0,
 70.0,
 76.0,
 78.0,
 76.0,
 78.0,
 74.0,
 71.0,
 78.0,
 70.0,
 74.0,
 74.0,
 75.0,
 76.0,
 78.0,
 72.0,
 73.0,
 76.0,
 72.0,
 72.0,
 78.0,
 76.0,
 76.0,
 77.0,
 79.0,
 73.0,
 79.0,
 77.0,
 78.0,
 76.0,
 78.0,
 77.0,
 79.0,
 75.0,
 77.0,
 76.0,
 78.0,
 78.0,
 77.0,
 78.0,
 78.0,
 76.0,
 75.0,
 72.0,
 75.0,
 77.0,
 75.0,
 77.0,
 76.0,
 76.0,
 75.0,
 72.0,
 76.0,
 75.0,
 72.0,
 72.0,
 75.0,
 69.0,
 75.0,
 74.0,
 78.0,
 77.0,
 76.0,
 72.0,
 73.0,
 74.0,
 74.0,
 74.0,
 73.0,
 73.0,
 71.0,
 72.0,
 72.0,
 75.0,
 66.0,
 66.0,
 67.0,
 76.0,
 68.0,
 69.0,
 71.0,
 70.0,
 68.0,
 66.0,
 69.0,
 69.0,
 71.0,
 72.0,
 69.0,
 72.0,
 70.0,
 76.0,
 69.0,
 71.0,
 72.0,
 71.0,
 78.0,
 73.0,
 74.0,
 68.0,
 71.0,
 76.0,
 75.0,
 74.0,
 73.0,
 73.0,
 74.0,
 69.0,
 74.0,
 72.0,
 70.0,
 67.0,
 69.0,
 73.0,
 75.0,
 74.0,
 72.0,
 71.0,
 67.0,
 74.0,
 70.0,
 70.0,
 70.0,
 71.0,
 70.0,
 71.0,
 71.0,
 68.0,
 74.0,
 75.0,
 74.0,
 77.0,
 76.0,
 77.0,
 75.0,
 76.0,
 75.0,
 77.0,
 75.0,
 77.0,
 74.0,
 78.0,
 77.0,
 76.0,
 69.0,
 70.0,
 64.0,
 75.0,
 69.0,
 65.0,
 76.0,
 81.0,
 71.0,
 71.0,
 71.0,
 82.0,
 74.0,
 75.0,
 77.0,
 74.0,
 68.0,
 72.0,
 70.0,
 68.0,
 74.0,
 71.0,
 70.0,
 70.0,
 70.0,
 68.0,
 68.0,
 68.0,
 66.0,
 71.0,
 76.0,
 73.0,
 70.0,
 68.0,
 71.0,
 71.0,
 68.0,
 71.0,
 70.0,
 73.0,
 78.0,
 76.0,
 73.0,
 74.0,
 63.0,
 72.0,
 75.0,
 74.0,
 72.0,
 68.0,
 74.0,
 73.0,
 73.0,
 72.0,
 73.0,
 72.0,
 78.0,
 74.0,
 74.0,
 78.0,
 78.0,
 61.0,
 69.0,
 65.0,
 77.0,
 67.0,
 69.0,
 75.0,
 67.0,
 71.0,
 74.0,
 66.0,
 66.0,
 77.0,
 70.0,
 73.0,
 71.0,
 71.0,
 71.0,
 67.0,
 71.0,
 74.0,
 76.0,
 72.0,
 74.0,
 75.0,
 69.0,
 69.0,
 69.0,
 75.0,
 73.0,
 73.0,
 72.0,
 72.0,
 72.0,
 74.0,
 72.0,
 73.0,
 73.0,
 73.0,
 73.0,
 74.0,
 73.0,
 71.0,
 72.0,
 73.0,
 74.0,
 72.0,
 73.0,
 73.0,
 71.0,
 73.0,
 75.0,
 71.0,
 72.0,
 73.0,
 71.0,
 65.0,
 77.0,
 72.0,
 78.0,
 71.0,
 72.0,
 71.0,
 72.0,
 76.0,
 75.0,
 75.0,
 76.0,
 73.0,
 72.0,
 74.0,
 74.0,
 74.0,
 73.0,
 77.0,
 73.0,
 70.0,
 72.0,
 76.0,
 65.0,
 74.0,
 73.0,
 77.0,
 76.0,
 69.0,
 78.0,
 76.0,
 68.0,
 76.0,
 68.0,
 79.0,
 69.0,
 64.0,
 70.0,
 69.0,
 73.0,
 70.0,
 74.0,
 76.0,
 76.0,
 69.0,
 73.0,
 73.0,
 65.0,
 70.0,
 72.0,
 72.0,
 75.0,
 74.0,
 69.0,
 73.0,
 75.0,
 76.0,
 74.0,
 73.0,
 74.0,
 71.0,
 72.0,
 73.0,
 72.0,
 72.0,
 73.0,
 72.0,
 75.0,
 76.0,
 67.0,
 69.0,
 70.0,
 75.0,
 74.0,
 71.0,
 74.0,
 71.0,
 72.0,
 74.0,
 75.0,
 73.0,
 75.0,
 76.0,
 68.0,
 71.0,
 68.0,
 66.0,
 63.0,
 62.0,
 67.0,
 68.0,
 63.0,
 56.0,
 76.0,
 75.0,
 74.0,
 76.0,
 69.0,
 71.0,
 72.0,
 74.0,
 75.0,
 72.0,
 78.0,
 69.0,
 75.0,
 75.0,
 74.0,
 74.0,
 76.0,
 73.0,
 75.0,
 75.0,
 74.0,
 79.0,
 75.0,
 76.0,
 76.0,
 69.0,
 72.0,
 76.0,
 75.0,
 75.0,
 75.0,
 70.0,
 70.0,
 74.0,
 73.0,
 72.0,
 78.0,
 67.0,
 69.0,
 71.0,
 74.0,
 63.0,
 76.0,
 76.0,
 71.0,
 76.0,
 77.0,
 73.0,
 71.0,
 78.0,
 78.0,
 75.0,
 75.0,
 72.0,
 77.0,
 72.0,
 72.0,
 71.0,
 72.0,
 74.0,
 66.0,
 61.0,
 58.0,
 60.0,
 71.0,
 65.0,
 72.0,
 70.0,
 68.0,
 67.0,
 71.0,
 65.0,
 64.0,
 65.0,
 69.0,
 70.0,
 70.0,
 68.0,
 69.0,
 71.0,
 70.0,
 71.0,
 76.0,
 71.0,
 72.0,
 73.0,
 77.0,
 67.0,
 69.0,
 72.0,
 74.0,
 71.0,
 70.0,
 68.0,
 70.0,
 66.0,
 72.0,
 70.0,
 70.0,
 70.0,
 70.0,
 73.0,
 71.0,
 69.0,
 73.0,
 72.0,
 71.0,
 69.0,
 70.0,
 69.0,
 70.0,
 75.0,
 71.0,
 70.0,
 ...]

In [27]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df= pd.DataFrame(dec_temp)
dec_temp_df

         0
0     76.0
1     74.0
2     74.0
3     64.0
4     64.0
...    ...
1512  71.0
1513  71.0
1514  69.0
1515  65.0
1516  65.0

[1517 rows x 1 columns]

In [28]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [46]:
#Additional queries Deliverable 3
#precipitation analysis June
jun_prcp = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date.like('%-06-%'))
jun_prcp = pd.read_sql(jun_prcp.statement, jun_prcp.session.bind, index_col='date')
jun_prcp = jun_prcp.rename(columns={"prcp": "jun_precipitations"})
jun_prcp.describe()

       jun_precipitations
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [40]:
#Additional queries Deliverable 3
#precipitation analysis December
dec_prcp = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date.like('%-12-%'))
dec_prcp = pd.read_sql(dec_prcp.statement, dec_prcp.session.bind, index_col='date')
dec_prcp = dec_prcp.rename(columns={"prcp": "december_precipitations"})
dec_prcp.describe()

       december_precipitations
count              1405.000000
mean                  0.216819
std                   0.541399
min                   0.000000
25%                   0.000000
50%                   0.030000
75%                   0.150000
max                   6.420000